htmlcov
*.pyc
*.pyo
.idea
.idea/*.*
.idea/workspace.xml
**/migrations/*
**/media/
.logs/*
.cache
.cache/*
.project
.pydevproject
*.sqlite3
.coverage
*.coverage
*.pytest_cache/*
britecore_engineering_appication/*
